{% load static %}
    
<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>{% block html_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head_tags %}{% endblock %}
    {{ media }}
  </head>

  <body>
    <article>
    {% block navigators %}
          <ul class="navigatorslist">
            {% for navigator in navigators %}
              <li>{{ navigator|capfirst }}</li>
            {% endfor %}
          </ul>
    {% endblock navigators %}

    {% block messages %}
        {% if messages %}
          <ul class="messagelist">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    {% endblock messages %}

    <header>
    <h1>{% block title %}Empty{% endblock %}</h1>
    </header>
    {% block content %}{% endblock %}
    <footer>
    {% block footer %}{% endblock %}
    </footer>
    </article>

    {% if aside %}    
    <aside>
      {{ aside }}
    </aside>
    {% endif %}

  </body>
</html>
