{% extends "quickviews/base.html" %}


{% block html_title %} {{ title|striptags }} {% endblock %}

{% block title %} {{ title }} {% endblock %}
{% block content %}
  <form id="generic-form" action="{{ submit_url }}" method="get">
    {% csrf_token %}

    <ul class="admin-list">
      {{ form.as_ul }}
    </ul>
    
    <ul class="actions">
      {% for action in actions %}
        {{ action }}
      {% endfor %}
    </ul>
  </form>

  {% if data_display %}
  <div class="data-display">
    {{ data_display }}
  </div>
  {% endif %}

{% endblock %}
